

<h1 class="page-header">
  <%= t('messages.listing', model: @beneficiaries.model_name.human) %>
  <%= link_to t('buttons.new'), new_beneficiary_path, class:"pull-right btn btn-success" %>
</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= @beneficiaries.model.human_attribute_name('name') %></th>
      <th><%= @beneficiaries.model.human_attribute_name('address') %></th>
      <th><%= @beneficiaries.model.human_attribute_name('phone_1') %></th>
      <th><%= @beneficiaries.model.human_attribute_name('phone_2') %></th>
      <th><%= @beneficiaries.model.human_attribute_name('email') %></th>
      <th width="100px"></th>
    </tr>
  </thead>

  <tbody>
    <% @beneficiaries.each do |beneficiary| %>
      <tr>
        <td><%= beneficiary.name %></td>
        <td><%= beneficiary.address %></td>
        <td><%= beneficiary.phone_1 %></td>
        <td><%= beneficiary.phone_2 %></td>
        <td><%= beneficiary.email %></td>
        <td>
          <%= link_to edit_beneficiary_path(beneficiary), class: "btn btn-primary btn-sm" do %>          
            <span class="glyphicon glyphicon-pencil"></span>
          <% end -%>

          <%= link_to beneficiary, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-danger btn-sm" do %>          
            <span class="glyphicon glyphicon-trash"></span>
          <% end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<div class="row">
    <div class="text-center">
      <%= paginate @beneficiaries %>
    </div>
</div>
