<h1 class="page-header">
  <%= t('messages.show', model: @beneficiary.model_name.human) %>
</h1>



<div class="row">
  <div class="col-md-12">
    

    <table class="table table-striped">
      <tr>
        <td><label><%= Beneficiary.human_attribute_name("name") %> </label></td>
        <td>
      <%= @beneficiary.name %></td>
      </tr>
      <tr>
        <td>
      <label><%= Beneficiary.human_attribute_name("address") %> </label></td>
        <td>
      <%= @beneficiary.address %></td>
      </tr>
      <tr>
        <td>
      <label><%= Beneficiary.human_attribute_name("phone_1") %></label></td>
        <td>
      <%= @beneficiary.phone_1 %></td>
      </tr>
      <tr>
        <td>
      <label><%= Beneficiary.human_attribute_name("phone_2") %></label></td>
        <td>
      <%= @beneficiary.phone_2 %></td>
      </tr>
      <tr>
        <td>
      <label><%= Beneficiary.human_attribute_name("email") %> </label></td>
        <td>
      <%= @beneficiary.email %></td>
      </tr>
    </table>

    <div class="form-group">
      <%= link_to t('buttons.back'), beneficiaries_path, class:"btn btn-success" %>
      <%= link_to t('buttons.edit'), edit_beneficiary_path(@beneficiary), class:"btn btn-primary" %>
    </div>
    
  </div>


</div>
