<%= form_for(bank) do |f| %>

  <% if bank.errors.any? %>
      <% erros_formulario%>
   <% end %>

  <div class="row">
    <div class="col-md-6"> 

      <div class="form-group">
        <%= f.label :id %>
        <%= f.text_field :id, class: "form-control", placeholder: "Número do Banco" %>
      </div>

      <div class="form-group">
        <%= f.label :bank_name %>
        <%= f.text_field :bank_name, class: "form-control", placeholder: "Nome do Banco" %>
      </div>

      <div class="form-group">
        <%= link_to t('buttons.back'), banks_path, class:"btn btn-success" %>
        <%= submit_tag t('buttons.save'),  class:"btn btn-primary" %>
      </div>
    </div>
  </div>

<% end %>
