<h1 class="page-header">
  <%= t('messages.show', model: @check.model_name.human) %>
</h1>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <tr>
        <td><label><%= Bank.human_attribute_name("bank_name") %> </label></td>
        <td><%= @check.account.bank.bank_name %></td>
      </tr>
      <tr>
        <td><label><%= Check.human_attribute_name("agency_code") %> </label></td>
        <td><%= @check.account.agency_code %></td>
      </tr>
      <tr>
        <td><label><%= Account.human_attribute_name("number") %></label></td>
        <td><%= @check.account.number %></td>
      </tr>
      <tr>
        <td><label><%= Check.human_attribute_name("number") %></label></td>
        <td><%= @check.number %></td>
      </tr>
      <tr>
        <td><label><%= Check.human_attribute_name("amount") %> </label></td>
        <td><%= humanized_money_with_symbol @check.amount %></td>
      </tr>
      <tr>
        <td><label><%= Check.human_attribute_name("date_discount") %> </label></td>
        <td><%= l @check.date_discount %></td>
      </tr>
      <tr>
        <td><label><%= Check.human_attribute_name("status") %> </label></td>
        <td><%= @check.status_i18n %></td>
      </tr>
    </table>


    <div class="form-group">
      <%= link_to t('buttons.back'), checks_path, class:"btn btn-success" %>
      <%= link_to t('buttons.edit'), edit_check_path(@check), class:"btn btn-primary" %>
    </div>
    
  </div>
</div>
