<%= form_for(holder) do |f| %>
  <% if holder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(holder.errors.count, "error") %> prohibited this holder from being saved:</h2>

      <ul>
      <% holder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="col-md-6"> 

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", placeholder: "Nome do titular"  %>
    </div>

    <div class="form-group">
      <%= f.label :cpf %>
      <%= f.text_field :cpf, class: "form-control cpf", placeholder: "CPF"  %>
    </div>

    <div class="form-group">
      <%= f.label :cnpj %>
      <%= f.text_field :cnpj, class: "form-control cnpj", placeholder: "CNPJ"  %>
    </div>
    
    


    <div class="form-group">
      <%= link_to t('buttons.back'), holders_path, class:"btn btn-success" %>
      <%= submit_tag t('buttons.save'), class:"btn btn-primary" %>
    </div>
  </div>
<% end %>
