
<h1 class="page-header">
  <%= t('messages.listing', model: @accounts.model_name.human) %>
  <%= link_to t('buttons.new'), new_account_path, class:"pull-right btn btn-success" %>
</h1>

<%= form_for_filterrific @filterrific do |f| %>


  <div class="well">
    <div class="row">
      <div class="col-md-4">
        <%= f.label t('labels.search') %>
        <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
        <%= f.text_field(
          :search_query,
          class: 'filterrific-periodically-observed form-control',
          placeholder: 'Digite sua pesquisa...'
        ) %>
      </div>

      <div class="col-md-4">
        <%= f.label t('labels.sorted_by') %>
        <%= f.select(
          :sorted_by, @filterrific.select_options[:sorted_by],
           {}, { :class => 'form-control' }
            ) %>
      </div>

      <div class="col-md-4">
          <br>
          <%= link_to(
            t('buttons.reset_filter'),
            reset_filterrific_url,
            class:"btn btn-default"
          ) %>
      </div>

    </div>
  </div>

<% end %>


<%= render partial:'accounts/list', locals: { accounts: @accounts } %>



