<h1 class="page-header">
  <%= t('messages.show', model: @account.model_name.human) %>
</h1>


<div class="row">
  <div class="col-md-12"> 
    
    <table class="table table-striped">
        <td><label><%= Bank.human_attribute_name("bank_name") %></label></td>
        <td><%= @account.bank.bank_name %></td>
      </tr>
      <tr>
        <td><label><%= Account.human_attribute_name("agency_code") %> </label></td>
        <td><%= @account.agency_code %></td>
      </tr>
      <tr>
        <td><label><%= Account.human_attribute_name("number") %> </label></td>
        <td><%= @account.number %></td>
      </tr>
      <tr>
      <tr>
        <td><label><%= Holder.human_attribute_name("name") %> </label></td>
        <td><%= @account.holder.name %></td>
      </tr>
    </table>
    
    <div class="form-group">
      <%= link_to t('buttons.back'), accounts_path, class:"btn btn-success" %>
      <%= link_to t('buttons.edit'), edit_account_path(@account), class:"btn btn-primary" %>
    </div>
  </div>
</div>
